.font-regular
    font-family: 'Lato', sans-serif
    font-weight: normal
    font-stretch: normal
    font-style: normal

.font-bold
    font-family: 'Lato', sans-serif
    font-weight: bold
    font-stretch: normal
    font-style: normal

.font-light
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-stretch: normal
    font-style: normal

.font-italic
    font-family: 'Lato', sans-serif
    font-weight: normal
    font-stretch: normal
    font-style: italic